<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="container">

	  	<!-- NAVBAR -->
	  	<div class="navbar navbar-default navbar-fixed-top">
	  		<div class="container">
	  			<div class="navbar-header">
	  				<a class="navbar-brand" href='/'>
	  					Loc8r
	  				</a>
	  				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
	  					<span class="icon-bar"></span>
	  					<span class="icon-bar"></span>
	  					<span class="icon-bar"></span>
	  				</button>
	  			</div>
	  			<div id="navbar-main" class="navbar-collapse collapse">
	  				<ul class="nav navbar-nav">
	  					<li>
	  						<a href="/about/">About</a>
	  					</li>
	  				</ul>
	  			</div>
	  		</div>	
	  	</div>

	  	<!-- BLOCK CONTENT -->
	  	<div class="container">
	  		<div id="banner" class="page-header">
	  			<div class="row">
	  				<div class="col-lg-6">
	  					<!-- <h1>Loc8r</h1> -->
	  					<h1><%= pageHeader.title %></h1>		<!-- EJS rendering sample instead of JADE-->
	  					<small>&nbsp;<%= pageHeader.strapline%></small>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="row">
	  			<div class="col-xs-12 col-sm-8">
	  				<!-- <p>List area.</p> -->
	  				<div class="row list-group">
	  					<!-- NG REPEAT here -->
	  					<!-- for now, we use EJS looping through JS objects provided by the controller -->
	  					<% for (var i=0; i < locations.length; i++) { %>

	  					<div class="col-xs-12 list-group-item" >
	  						<h4>
	  							<a href="/location"><%= locations[i].name %></a>
	  							<small> &nbsp;
	  								<% for (var r=1; r <= locations[i].rating; r++) { %>
	  									<span class="glyphicon glyphicon-star"></span>
	  								<% } %>

	  								<% for (var r=1; r <= ( 5 - locations[i].rating); r++) { %>
	  									<span class="glyphicon glyphicon-star-empty"></span>
	  								<% } %>	

<!-- 	  								<span class="glyphicon glyphicon-star"></span>
	  								<span class="glyphicon glyphicon-star"></span>
	  								<span class="glyphicon glyphicon-star"></span>
	  								<span class="glyphicon glyphicon-star-empty"></span>
	  								<span class="glyphicon glyphicon-star-empty"></span> -->
	  							</small>
	  							<span class="badge pull-right badge-default">
	  								<%= locations[i].distance %>
	  							</span>
	  						</h4>
	  						<p class="address"><%= locations[i].address %></p>
	  						<p>
	  							<% for (var j=0; j < locations[i].facilities.length; j++) { %>
	  							<span class="label label-warning">
	  								<%= locations[i].facilities[j] %>
	  							</span>
	  							&nbsp;
	  							<% } %>
<!-- 	  							<span class="label label-warning" ng-repeat="facility in facilities">Food</span>
	  							&nbsp;
	  							<span class="label label-warning" ng-repeat="facility in facilities">Premium wifi</span>
	  							&nbsp; -->
	  						</p>
	  					</div>


	  					<% } %>

<!-- 	  					<div class="col-xs-12 list-group-item" >
	  						<h4>
	  							<a href="/location">Starcups</a>
	  							<small> &nbsp;
	  								<span class="glyphicon glyphicon-star"></span>
	  								<span class="glyphicon glyphicon-star"></span>
	  								<span class="glyphicon glyphicon-star"></span>
	  								<span class="glyphicon glyphicon-star-empty"></span>
	  								<span class="glyphicon glyphicon-star-empty"></span>
	  							</small>
	  							<span class="badge pull-right badge-default">
	  								100m
	  							</span>
	  						</h4>
	  						<p class="address">125 High Street, Reading, H2L 3W2</p>
	  						<p>
	  							<span class="label label-warning" ng-repeat="facility in facilities">Hot drinks</span>
	  							&nbsp;
	  							<span class="label label-warning" ng-repeat="facility in facilities">Food</span>
	  							&nbsp;
	  							<span class="label label-warning" ng-repeat="facility in facilities">Premium wifi</span>
	  							&nbsp;
	  						</p>
	  					</div>

	  					<div class="col-xs-12 list-group-item" >
	  						<h4>
	  							<a href="/location">Starcups</a>
	  							<small> &nbsp;
	  								<span class="glyphicon glyphicon-star"></span>
	  								<span class="glyphicon glyphicon-star"></span>
	  								<span class="glyphicon glyphicon-star"></span>
	  								<span class="glyphicon glyphicon-star-empty"></span>
	  								<span class="glyphicon glyphicon-star-empty"></span>
	  							</small>
	  							<span class="badge pull-right badge-default">
	  								100m
	  							</span>
	  						</h4>
	  						<p class="address">125 High Street, Reading, H2L 3W2</p>
	  						<p>
	  							<span class="label label-warning" ng-repeat="facility in facilities">Hot drinks</span>
	  							&nbsp;
	  							<span class="label label-warning" ng-repeat="facility in facilities">Food</span>
	  							&nbsp;
	  							<span class="label label-warning" ng-repeat="facility in facilities">Premium wifi</span>
	  							&nbsp;
	  						</p>
	  					</div> -->
	  				</div>
	  			</div>
	  			<div class="col-xs-12 col-sm-4">
	  				<p class="lead">Loc8r helps you find places to work when out and about.
	  				<br/>
	  				Looking for wifi and a seat? Loc8r helps you find places to work
					when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help
					you find the place you're looking for.
	  				</p>
	  			</div>			
	  		</div>
<!-- 		    <h1><%= title %></h1>
		    <p>Welcome to <%= title %></p>
		    <h3>Lenny Style..... yeahhhh</h3> -->
	  	</div>

	  	<!-- FOOTER -->
	  	<footer>
	  		<div class="row">
	  			<div class="col-xs-12">
	  				<small> &copy; Lenny 2017 </small>
	  			</div>
	  		</div>
	  	</footer>

  	</div>

    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
